[Desktop Entry]
Version=1.0.0
Type=Application
Terminal=false
Exec=/usr/bin/xdg-open http://127.0.0.1  
TryExec=/usr/bin/xdg-open
Name=Install Arch Linux
Name[de]=Arch Linux Installieren
Comment=Installation tool
Icon=archinstall_gui.svg
